$white: rgba(255,255,255,1);
$white_1: rgba(255,255,255,.1);
$white_2: rgba(255,255,255,.2);
$white_3: rgba(255,255,255,.3);
$white_4: rgba(255,255,255,.4);
$white_5: rgba(255,255,255,.5);
$white_6: rgba(255,255,255,.6);
$white_7: rgba(255,255,255,.7);
$white_8: rgba(255,255,255,.8);
$white_9: rgba(255,255,255,.9);

$green: rgba(126,208,223,1);
$green_1: rgba(126,208,223,.1);
$green_2: rgba(126,208,223,.2);
$green_3: rgba(126,208,223,.3);
$green_4: rgba(126,208,223,.4);
$green_5: rgba(126,208,223,.5);
$green_6: rgba(126,208,223,.6);
$green_7: rgba(126,208,223,.7);
$green_8: rgba(126,208,223,.8);
$green_9: rgba(126,208,223,.9);

$yellow: rgba(238,252,190,1);
$yellow_1: rgba(238,252,190,.1);
$yellow_2: rgba(238,252,190,.2);
$yellow_3: rgba(238,252,190,.3);
$yellow_4: rgba(238,252,190,.4);
$yellow_5: rgba(238,252,190,.5);
$yellow_6: rgba(238,252,190,.6);
$yellow_7: rgba(238,252,190,.7);
$yellow_8: rgba(238,252,190,.8);
$yellow_9: rgba(238,252,190,.9);

$red: rgba(254,92,47,1);
$red_1: rgba(254,92,47,.1);
$red_2: rgba(254,92,47,.2);
$red_3: rgba(254,92,47,.3);
$red_4: rgba(254,92,47,.4);
$red_5: rgba(254,92,47,.5);
$red_6: rgba(254,92,47,.6);
$red_7: rgba(254,92,47,.7);
$red_8: rgba(254,92,47,.8);
$red_9: rgba(254,92,47,.9);

$odd_color: rgb(183,245,235);

.white {
	color: $white;
}
.white-1 {
	color: $white_1;
}
.white-2 {
	color: $white_2;
}
.white-3 {
	color: $white_3;
}
.white-4 {
	color: $white_4;
}
.white-5 {
	color: $white_5;
}
.white-6 {
	color: $white_6;
}
.white-7 {
	color: $white_7;
}
.white-8 {
	color: $white_8;
}
.white-9 {
	color: $white_9;
}

.green {
	color: $green;
}
.green-1 {
	color: $green_1;
}
.green-2 {
	color: $green_2;
}
.green-3 {
	color: $green_3;
}
.green-4 {
	color: $green_4;
}
.green-5 {
	color: $green_5;
}
.green-6 {
	color: $green_6;
}
.green-7 {
	color: $green_7;
}
.green-8 {
	color: $green_8;
}
.green-9 {
	color: $green_9;
}

.yellow {
	color: $yellow;
}
.yellow-1 {
	color: $yellow_1;
}
.yellow-2 {
	color: $yellow_2;
}
.yellow-3 {
	color: $yellow_3;
}
.yellow-4 {
	color: $yellow_4;
}
.yellow-5 {
	color: $yellow_5;
}
.yellow-6 {
	color: $yellow_6;
}
.yellow-7 {
	color: $yellow_7;
}
.yellow-8 {
	color: $yellow_8;
}
.yellow-9 {
	color: $yellow_9;
}


.red {
	color: $red;
}
.red-1 {
	color: $red_1;
}
.red-2 {
	color: $red_2;
}
.red-3 {
	color: $red_3;
}
.red-4 {
	color: $red_4;
}
.red-5 {
	color: $red_5;
}
.red-6 {
	color: $red_6;
}
.red-7 {
	color: $red_7;
}
.red-8 {
	color: $red_8;
}
.red-9 {
	color: $red_9;
}


.odd-color {
	color: $odd_color;
}

.first-green-6 {
	&::first-letter {
		color: $green_6;
	}
}

.warning {
	color: $red_8;
	animation: blink .5s steps(5, start) infinite;

	&::first-letter {
		color: $red_8;
	}
}
