.margin-l-5 {
	margin-left: 5px;
}
.margin-r-5 {
	margin-right: 5px;
}
.margin-lr-5 {
	margin-left: 5px;
	margin-right: 5px;
}
.margin-r-5 {
	margin-right: 5px;
}
.margin-r-15 {
	margin-right: 15px;
}
.margin-r-20 {
	margin-right: 20px;
}

.margin-t-8 {
	margin-top: 8px;
}

.margin-b-5 {
	margin-bottom: 5px;
}
.margin-b-10 {
	margin-bottom: 10px;
}
.margin-b-15 {
	margin-bottom: 15px;
}
