// bower:scss
// endbower

// @import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700);
// @import url(http://fonts.googleapis.com/css?family=Orbitron:400,500,700,900);
// @import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700,900);


@import "_flex.scss",
        "_widths.scss",
        "_heights.scss",
        "_padding.scss",
        "_margins.scss",
        "_colors.scss",
        "_borders.scss",
        "_directives.scss";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
  background: black;
  color: white;
  padding: 65px 30px;
  box-sizing: border-box;
  font-family: Rajdhani;
}

.box {
  background: rgba(100,100,100,.2);
  border-bottom: 1px solid black;
}


h1,h2,h3,h4,h5,h6 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

h1 {
  font-size: 3em;
  line-height: .7em;
  font-weight: normal;
}

h2 {
  font-size: 1.9em;
  line-height: .7em;
  font-weight: normal;
}

h3 {
  font-size: 15px;
  line-height: 15px;
  font-weight: normal;
  letter-spacing: 1px;
}

h4 {
  font-size: 10px;
  line-height: 10px;
  font-weight: normal;
}

h5 {
  font-size: 8px;
  line-height: 8px;
  font-weight: normal;
}

h6 {
  font-size: 4px;
  line-height: 10px;
  font-weight: normal;
}

.btn {
  @extend .horizontal;
  @extend .align-middle;
  @extend .align-center;
  @extend .flex-1;
  height: 24px;
  padding: 0 10px;
  border: 1px solid $green_5;
  border-radius: 4px;
  font-size: 10px;
  color: $green_5;

  &:not(:last-of-type) {
    margin-right: 5px;
  }
}