<div class="vertical flex-2 margin-r-5">
	<div class="vertical flex-1 border-w1 margin-b-5">
		<div class="horizontal">
			<random-text class="flex-1" type="0"></random-text>
			<random-text type="4"></random-text>
		</div>
		<div class="horizontal">
			<random-text class="flex-1" type="5"></random-text>
			<random-text type="5"></random-text>
			<random-text type="5"></random-text>
		</div>
	</div>
	<div class="horizontal align-center align-middle flex-2 border-w1">
		<h2 class="green"><span class="green-7">1</span>50</h2>
	</div>
</div>
<div class="vertical flex-2">
	<div class="horizontal flex-1 border-w1">
		<!-- this should be WebGL and animated -->
		<img class="img-responsive" src="images/drone.png">
<!-- 
		<div class="vertical flex-1">
			<model-viewer></model-viewer>
		</div>
 -->
	</div>
</div>
<div class="vertical align-middle align-center flex-1">
	<!-- D3 CIRCLES -->
</div>