<div class="horizontal height-20 border-b-g2 align-bottom">
	<h4 class="flex-1"><span class="green-7">FUEL STATUS</h4>
	<random-text type="3"></random-text>
</div>

<div class="vertical height-125">
	<div class="vertical flex-1">
		<div class="horizontal flex-1">
			<div class="vertical flex-1">
				<viz-fuel></viz-fuel>
				<viz-fuel></viz-fuel>
			</div>
			<viz-circular></viz-circular>
		</div>
		<div class="horizontal flex-1">
			<div class="vertical flex-1">
				<viz-fuel></viz-fuel>
				<viz-fuel></viz-fuel>
			</div>
			<viz-circular></viz-circular>
		</div>
	</div>
	<div class="horizontal">
		<random-text class="flex-1" type="1"></random-text>
		<random-text type="1"></random-text>
	</div>
</div>
