<div class="horizontal">

	<div class="vertical" style="width:80px">
		<div class="horizontal align-bottom height-40 pad-b-6">
			<div class="flex-1 border-b-g2">
				<h3 class="green-9 pad-l-5">R<span class="yellow">n</span>DMX</h3>
			</div>
		</div>
		<div class="horizontal align-middle height-20 border-b-g3">
			<h4 class="green-9 pad-l-5">DRONE STATUS</h4>
		</div>
		<div class="horizontal align-bottom height-30">
			<h4 class="green-7 pad-l-5 pad-r-5 border-b-g3">DRN <span class="green-9">CODE</span></h4>
		</div>
		<div class="height-80 pad-l-5 pad-t-15">
			<h1><span class="yellow">A</span><span class="yellow-8">1</span></h1>
		</div>
	</div>

	<div class="vertical">
		<div class="horizontal align-bottom height-40 pad-b-6">
			<div class="flex-1 border-b-g1">
				<h3 class="odd-color">DRONE <span class="yellow">R</span><sup class="red">x</sup></h3>
			</div>
		</div>
		<div class="horizontal align-middle height-20 border-b-g3">
			<h4 class="green-5">MONITOR FEED</h4>
		</div>
		<div class="horizontal align-bottom align-right height-30 ">
			<h4 class="green-8 border-b-g3 pad-l-5 pad-r-5">ACT STATUS</h4>
		</div>
		<div class="height-80 pad-t-15 pad-l-10	">
			<h1><span class="green">X</span><span class="green-8">X</span></h1>
		</div>
	</div>

	<div class="vertical flex-1">
		<div class="horizontal flex-1 align-bottom height-40 pad-b-6">
			<div class="flex-1 border-b-g1"></div>
		</div>
		<div class="height-20 border-b-g1"></div>
		<div class="height-30 border-b-g1"></div>
		<div class="height-80"></div>
	</div>

	<div class="vertical">
		<div class="horizontal align-bottom height-40 pad-b-6">
			<div class="flex-1">
				<div class="horizontal pad-r-5">
					<h4 class="flex-1 border-t-g2 border-l-dotted-w3 height-20 pad-t-5 pad-l-5 pad-r-15 border-b-g2 green-5">DRONE</h4>
					<h4 class="border-t-g2 border-l-dotted-w3 border-r-dotted-w3 height-20 pad-t-5 pad-l-5 pad-r-5 border-b-g1 green-5"><span class="green-7 pad-r-15">A1</span><span class="yellow">177</span></h4>
				</div>
			</div>
		</div>
		<div class="horizontal align-middle height-20 pad-l-5 border-b-g3">
			<h4 class="green-5 pad-r-5"><span class="odd-color">ACTIVITY</span> SUMMARY</h4>
		</div>
		<div class="horizontal align-bottom height-30 pad-l-5 border-b-g3">
			<h4 class="green-7 pad-r-5">DRN <span class="odd-color">NUMBER IDENTIFIER</span></h4>
		</div>
		<!-- <div class="height-80 pad-r-5">4</div> -->
	</div>
</div>

<div class="flex-1">
</div>

<div class="horizontal align-middle height-40 border-t-g2 pad-l-5 pad-r-5 space-around">
	<a class="btn">ONLINE</a>
	<a class="btn">OFFLINE</a>
	<a class="btn">REPAIR</a>
	<a class="btn">MIA</a>
</div>